<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friens.each do |frien| %>
    <% if frien.user == current_user %>
      <tr>
        <td><%= frien.first_name %></td>
        <td><%= frien.last_name %></td>
        <td><%= frien.email %></td>
        <td><%= frien.phone %></td>
        <td><%= frien.twitter %></td>
        <td><%= frien.user_id %></td>
        
        <td><%= link_to 'Show', frien %></td>
        <td><%= link_to 'Edit', edit_frien_path(frien) %></td>
        <td><%= link_to 'Destroy', frien, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_frien_path,
class:"btn btn-secondary" %>
